.destination {
  background-image: url(../../assets/destination-mob.jpg);
  background-repeat: no-repeat;
  text-align: center;
  color: #d0d6f9;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.destination h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.destination h3 p {
  opacity: 0.2;
  font-weight: 600;
  margin-right: 20px;
}

.navbar-destination {
  display: flex;
  justify-content: center;
}

.navbar-destination p {
  margin: 40px 13px 30px;
  cursor: pointer;
}

.navbar-destination p.clicked {
  color: white;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}

.destination h1 {
  color: white;
  font-size: 56px;
  font-weight: 100;
  text-transform: uppercase;
}

.text-dest {
  font-size: 16px;
  width: 80%;
  margin: auto;
  line-height: 25px;
}
hr {
  opacity: 0.2;
  margin: 40px 0;
}

.statistics div p:nth-child(2) {
  color: white;
  font-size: 28px;
}

.statistics div {
  margin-bottom: 50px;
}
.destination-divs {
  padding: 30px;
}

@media (min-width: 768px) {

  .destination h3 {
    justify-content: start;
    margin: 50px 30px;
    letter-spacing: 3px;
  }
  .statistics {
    display: flex;
    justify-content: space-around;
  }
  hr {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .destination {
    padding: 0 0 60px;
  }
  .navbar-destination {
    margin-top: 40px;
  }
  .text-dest {
    width: 70%;
  }
  .destination h1 {
    font-size: 80px;
  }
}

@media (min-width: 1336px) {
  .destination {
    background-image: url(../../assets/destination-desk.jpg);
    text-align: start;
    height: 100vh;
  }

  .text-dest {
    margin: inherit;
    font-size: 18px;
    line-height: 34px;
    width: 100%;
  }
  .navbar-destination {
    justify-content: start;
    font-size: 20px;
  }
  .navbar-destination p {
    margin-right: 40px;
  }
  hr {
    margin: inherit;
  }

  .dest-info {
    width: 45%;
    margin-top: 60px;
  }
  .destination-divs {
    display: flex;
    padding: 0 10vw;
    margin-top: 6vw;
    justify-content: space-between;
  }
  .destination h3 {
    font-size: 28px;
  }
  img {
    width: 445px;
    height: 445px;
  }
  .statistics {
    justify-content: start;
  }
  .statistics div {
    margin: 30px 80px 0 0;
  }

  .destination h1 {
    font-size: 120px;
    letter-spacing: 10px;
    margin: 10px 0;
  }
  .statistics div p:nth-child(2) {
    font-size: 32px;
  }

  .navbar-destination p:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.502);
  }
}
